<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.184421618342-famchuic195ja5u4mqdnvvt3lno3j02u</string>
			</array>
		</dict>
	</array>
	<key>Privacy — Location When In Use Usage Description</key>
	<string>Access for location</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Medium.ttf</string>
		<string>BebasNeue-Regular.ttf</string>
	</array>
</dict>
</plist>
